body {
  // background-color: #fff;
  background-image: url(yugi-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: rgb(135, 226, 173);
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  max-width: 700px;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  // padding-top: 3%;
}

.everything {
  background-color: rgba(41, 34, 33, 0.54);
}

.form_field_div, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(251, 158, 131, 0);
}

p, h3, h2 {
  text-align: center;
  color: rgb(135, 226, 173);
}

h1, label, .has-tip {
  color: rgb(135, 226, 173);
}

#thumbs_Up {
  position: fixed;
  visibility: hidden;
  margin-top: 14%;
  // margin-right: 300px;


  // padding-right: 500px;
  float: left;
  z-index: 6;

}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  padding: 10px;
  font-size: 11px;
}

a {

  &:visited {
  }

  &:hover {
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

.field {
  width: 60%;
  justify-content: center;
}

.show-action {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 1%;
  margin-right: 1%;
}

.card-display {
  width: 200px;
  height: 285px;
}

.duelist-display{
  height: 285px
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: rgb(218, 235, 7);
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  // background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
